.head-img{
    margin-left: 20px;
}
.top-buttons {
    margin-left: 1100px;
    outline: 0px;
}
#sign-in{
    background-color: rgb(73, 18, 246); 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#pill{
    border-radius: 40px;
    padding: 10px 20px;
    margin-left: 10px;
    background: linear-gradient(90deg, rgba(234,158,61,1) 30%, rgba(237,128,57,1) 70%);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 10x;
}
#big-gif{
    width: 500px;
    float: right;
    margin-right: 150px;
}
#one {
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
#two {
    margin-top: 0px;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#three {
    margin-top: -30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(155, 151, 151);
}
#clout{
    margin-left: 20px;
}
#try-5-free{
    border-radius: 40px;
    padding: 20px 20px;
    background: linear-gradient(90deg, rgba(234,158,61,1) 30%, rgba(237,128,57,1) 70%);
    margin-left: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}
#science{
    margin-top: 150px;
    margin-left: 600px;
    color: rgb(211, 200, 200);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
}
#img-container{
    margin-top: 70px;
    display: block;
    margin-left: 200px;
    margin-right: auto;
}
section {
    display: inline-block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;   
}
#more-science{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    margin-left: 220px;
    font-weight: bold;
}